@{
    ViewData["Title"] = "Contact";
}
<!--raw TODO HTML file-->
<img src="https://www.impactbnd.com/hubfs/best-team-page.jpg" style="width: 100%" />

<h1 style="text-align: center">Niki</h1>
<img src="~/images/team-members/Niki.jpg" style="width: 100%" />

<h1 style="text-align: center">Edo</h1>
<img src="~/images/team-members/Edo.jpg" style="width: 100%" />
