@{
    ViewData["Title"] = "Home Page";
}

<div id="video-block">
    <video autoplay preload="auto" muted loop id="myVideo">
        <source src="~/videos/cardstone_video.mp4" type="video/mp4">
    </video>
</div>
<div id="register-section">
    <div>
        <h1>Cardstone</h1>
    </div>
    <div>
        <h2>Play For Free!</h2>
    </div>
    <div>
        <span><button class="btn btn-success" onclick="@("window.location.href='" + Url.Action("Register", "Account") + "'");" asp-area="" type="button">Sign Up</button></span>
        <span><button class="btn btn-primary" onclick="@("window.location.href='" + Url.Action("Login", "Account") + "'");" asp-area=""  type="button">Login</button></span>
    </div>
</div>

<hr />

<div id="description-section">
    <div>
        <h2>What is cardstone</h2>
    </div>
    <div>
        <h4>Cardstone is another unoriginal boring multiplayer online card game which will leave you with wide smile when you experience the amazing gameplay that is (eventually) free of bugs.</h4>
    </div>
    <div>
        <img src="https://i.imgur.com/t9FfxXM.png" />
    </div>
</div>

<div id="statistics-section">
    <div>
        <table>
            <tr>
                <td></td>
            </tr>
        </table>
    </div>

    <div>
        <table>
            <tr>
                <td></td>
            </tr>
        </table>
    </div>
</div>
