@{
    ViewData["Title"] = "Home Page";
}

<div class="section" id="register-section">
    <div>
        <h1>Cardstone</h1>
    </div>
    <div>
        <h2>Play For Free!</h2>
    </div>
    <div>
        <span><button class="btn btn-success" onclick="@("window.location.href='" + Url.Action("Register", "Account") + "'");" asp-area="" type="button">Sign Up</button></span>
        <span><button class="btn btn-primary" onclick="@("window.location.href='" + Url.Action("Login", "Account") + "'");" asp-area="" type="button">Login</button></span>
    </div>
</div>

<hr />

<div class="section" id="description-section">
    <h2>What is Cardstone?</h2>
    <div>
        <h4>
            <img src="https://imgnooz.com/sites/default/files/wallpaper/games/58838/ciri-gwent-wallpapers-58838-8641289.jpg" />
            Cardstone is another unoriginal boring multiplayer online card game which will leave you with wide smile when you experience the amazing gameplay that is (eventually) free of bugs.
        </h4>
    </div>
</div>

<div class="section" id="statistics-section">
    <div>
        <table>
            <tr>
                <td></td>
            </tr>
        </table>
    </div>

    <div>
        <table>
            <tr>
                <td></td>
            </tr>
        </table>
    </div>
</div>
