@using Cardstone.Web.Models.DeckViewModels
@model DeckViewModel

@{
    int counter = 0;
}

@{
    Layout = "~/Views/Shared/_SignedInLayout.cshtml";
}

@{
    ViewData["Title"] = "Deck";
}

<h1>My Cards</h1>

<div>
    <div class="grid-container">

        @foreach (var playerCard in Model.PlayersCards)
        {
            <div class="grid-item"><img src="@playerCard.Card.ImageURL" height="200" width="100" "@playerCard.Card.Name" /></div>
        }
    </div>
</div>