@using Cardstone.Web.Models.DeckViewModels
@model DeckViewModel

@{
    int counter = 0;
}

@{
    Layout = "~/Views/Shared/_SignedInLayout.cshtml";
}

@{
    ViewData["Title"] = "Deck";
}

<div class="row">
    @foreach (var playerCard in Model.PlayersCards)
    {
        <div class="column">
            <img src="@playerCard.Card.ImageURL" height="200" width="100" "@playerCard.Card.Name" />
        </div>
    }
</div>
