@model IEnumerable<PlayerViewModel>

@{ 
    Layout = "~/Views/Shared/_SignedInLayout.cshtml";
}

@{
    ViewData["Title"] = "Play";
}

<h2>Play</h2>
<table class="table table-condensed table-hover">
    <tr>
        <th>Avatar</th>
        <th>Username</th>
        <th>Experience Points</th>
        <th>Challenge</th>
    </tr>
    @foreach (var player in Model)
    {
        <tr>
            <td><img class="mini-avatar" src="@player.AvatarURL"/></td>
            <td>@player.Username</td>
            <td>@player.XP</td>
            <td><button class="btn btn-success" type="button" asp-area="" asp-controller="Game" asp-action="Battle">Battle!</button></td>
        </tr>
    }
</table>
