@model IEnumerable<PlayerViewModel>

@{
    Layout = "~/Views/Shared/_SignedInLayout.cshtml";
}

@{
    ViewData["Title"] = "Leaderboard";
}

<h1 class="main-title">Leaderboard</h1>

<td><button type="button" class="btn btn-primary" asp-area="" asp-controller="Game" asp-action="Leaderboard">Where I am?</button></td>

<table class="table table-condensed table-hover">
    <tr>
        <th>Rank</th>
        <th>Avatar</th>
        <th>Username</th>
        <th>Experience Points</th>
    </tr>
    @{int counter = 1;}
    @foreach (var player in Model)
    {
        <tr>
            <td>@counter</td>
            <td><img class="mini-avatar" src="@player.AvatarURL" , alt="avatar" /></td>
            <td>@player.Username</td>
            <td>@player.XP</td>

            @{counter++;}
        </tr>
    }
</table>
